@charset "UTF-8";
/* CSS Document */
body
{
	display:flex;
	justify-content: center;
	background-color: black;
		
}
.tong
{
	width:1100px;
	height:3094px;
	background-size: 100%;
}
.container1
{
	width: 100%;
	height: 620px;
	background:url("../images/Hero Image.png")
}
.nav-item{
    list-style: none;
    margin: 20px;
    padding: 0;
    float: right;
    margin: 30px 100px;
	color: white;
}
.logo{
    margin: 20px 35px;
}
UL{
    list-style: none;
}
ul > li{
    float: left;
    padding-right: 30px;
    font-size: 10pt;
}
.cover-head{
    width: 100%;
    height: 505px;
	
}
.cover-head-text{
    color: white;
	margin-top: 220px;
	margin-left: 0px;
	text-align: center;
}
.btn-learn-more{
    margin-top: 20px;
    color: white;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid white;
}
.menu
{
	font-size: 18px;
}
.container2
{
	width: 100%;
	height: 617px;
	background-color: #F1F1F1;
}
.container2-a
{
	width:50%;
	height:617px;
	float:left;
}
.lap-box{
    width: 580px;
	height:375px;
    padding: 10px;
	margin-top: 125px;
	background:url("../images/Laptopbia2.png");
}
.img-laptop
{

	margin-top: 25px;
	margin-right: 20px;
}
.container2-b
{
	width:50%;
	height:617px;
	float:right;
}
.cover-head-text2
{
    color: black;
	margin-top: 225px;
	margin-left: 90px;
	text-align: left;
}
.btn-see-portfolio{
    margin-top: 20px;
    color: black;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid black;
}
.gp-text
{
	margin-bottom: inherit;
	margin-top: -50px;
}
.container3
{
	width: 100%;
	height: 617px;
	background:url("../images/biaanh3.png");
}
.container3-a
{
	width:50%;
	height:617px;
	float:left;
}
.container3-b
{
	width:50%;
	height:617px;
	float:right;
}
.cover-head-text3
{
    color: white;
	margin-top: 170px;
	margin-left: 140px;
	text-align: left;
}
.icon
{
	width:270px;
	height:60px;
	margin-left: 140px;
	text-align:center;
}
.icon-1
{
	width:24px;
	height:24px;
	background:url("../images/icon2.png");
	float:left;
	margin-left: 17px;
}
.icon-2
{
	width:22px;
	height:22px;
	background:url("../images/icon1.png");
	float:right;
	margin-right: 30px;
}
.icon-3
{
	width:28px;
	height:28px;
	background:url("../images/icon3.png");
	margin-left: 115px;
}
.content-text-3a
{
	float:left;
	color:white;
}
.content-text-3c
{
	float:right;
	color:white;
}
.content-text-3b
{
	color:white;
}
.phone-box{
    width: 181px;
	height:388px;
    padding: 10px;
	margin-top: 138px;
	margin-left: 130px;
	background:url("../images/iphonebia3.png");
}
.cover4
{
	width: 100%;
	height: 620px;
	background-color:#323C6D;
}
.cover4-a
{	width:100%;
	height:180px;
}
.content-text-4a
{

	color:white;
	margin-left: 205px;

}
.content-text-4b
{
	margin-bottom: 10px;
	color:white;
}
.box-logo
{
	width:290px;
	height:100px;
	float:left
}
.header-2
{
	width:100%;
	height:185px;
}
.header-2a
{
	width:400px;
	height:100%;
	color:white;
	float:left
}
.header-2b
{
	width:30%;
	height:100%;
	color:white;
	float:left;
}
.text-right
{
	margin-left:160px;
}
.text-right1
{
	margin-left:120px;
	margin-top: 20px;
}
.text-right2
{
	margin-top: 20px;
}
.header-2c
{
	width:370px;
	height:100%;
	color:white;
	float:left;
}
.header-3
{
	width:100%;
	height:255px;
}
.cover5
{
	width:100%;
	height:620px;
	background:url("../images/ANHBIA4.png")
}
.get-touch0-in
{
	width:500px;
	height:620px;
	color:white;
	float:left;
	margin: 20px 35px;
}
.tonglogo5{
	width:165px;
	height:620px;
	float:inherit;
	margin: 20px 35px;
}
.nav-office
{
	width:50%;
	height:60px;
	float:left;
}
.nav-contact
{
	width:50%;
	height:60px;
	float:left;
}
.nav-follow
{
	width:25%;
	height:10px;
	margin-top: 130px;   
}
.native3
{
	width:530px;
	height:620px;
	
	float:right;
}
.text-box-5
{
	margin-left: 120px;
	margin-top: 170px;
}
.div-line1
{
	width:115px;
	height:1px;
	background-color: white;
	opacity:0.4;
	margin-top: 290px;
}
.div-line2
{
	width:115px;
	height:1px;
	background-color: white;
	opacity:0.4;
	margin-left: 128px;
}
.div-line3
{
	width:115px;
	height:1px;
	background-color: white;
	opacity:0.4;
	margin-left: 256px;
}
.div-line4
{
	width:370px;
	height:1px;
	background-color: white;
	opacity:0.4;
	margin-top: 100px;
}
.btn-massage
{
	 margin-top: 50px;
	margin-left: 120px;
    color: black;
    padding: 12px 36px;
	border-radius: 20px;
	
}
.img-box4-1
{
	margin-left: 223px;
}
.img-box4-2
{
	margin-left: 84px;
}
.text-box4
{
	witdh:100%;
	height:100%;
	color:white;
}
.text-box4-1
{
	float:left;
}
.aligh-tex-box4a
{
	margin-left: 205px;
}
.aligh-tex-box4b
{
	margin-left: 50px;
}
.aligh-tex-box4c
{
	margin-left: 60px;
}
.aligh-tex-box4d
{
	margin-left: 55px;
}